@model Article

<div class="card col-md-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Libelle</h5>
        <hr>
        <p class="card-text">Prix : @Model.PrixInitial.ToString("C")</p>
        <hr>
        <p class="card-text">Poids : @Model.Poids.ToString() kg</p>
        <a asp-controller="Article" asp-action="Edit" asp-route-idArticle="@Model.Id" class="btn btn-primary">Editer</a>
        <a asp-controller="Article" asp-action="Delete" asp-route-idArticle="@Model.Id" class="btn btn-danger">Supprimer</a>
    </div>
</div>
